<p id="notice"><%= notice %></p>


 <div style="border:1px solid black;margin-left:auto;margin-right:auto;" class="jumbotron bg-dark text-white ">
      <h1 style="text-align:center;"> Masterpeieces</h1>
      <br><br>
  </div >
    <div style="background-color:#343a3f; border:1px solid black;margin-left:auto;margin-right:auto;" class="panel text-center">
      <p><h2> Essence of 'Portfolio' </h2></p>
      <p> Witness the briliance of no skill web development, here, right before your vary eyes!!!</p>
      <p> *blame your fingers, they led you here. </p>

    </div>
</div>
<div class="container py-4">
<table style="background-color:#343a3f; border:1px solid black; margin-left:auto;margin-right:auto;">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody style="background-color:#343a3f">
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.title %></td>
        <td><%= project.description %></td>
        <td><%= button_to 'Show', project, method: :get %></td>
        <% if user_signed_in? %> 
        <td><%= button_to 'Edit', edit_project_path(project), method: :get %></td>
        <td><%= button_to 'Destroy', project, :method => :delete %></td>
          <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>

<%= button_to 'New Project', new_project_path, method: :get %>

</div>