<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <meta name="description" content="Portfolio">
    <meta name="Michael Johnston" content="Michael Johnston and Bootstrap contributors">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    <title>Johnston Portfolio</title>

    <!-- Custom styles for this template -->
    <link href="application.scss" rel="stylesheet">
    <style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
  </style>

  
</head>
<body>
  
<style>
.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}


</style>


</head>

<body style="background-image: url('https://img.wallpapersafari.com/desktop/1920/1080/11/97/mq82TL.jpg'); 
    background-color:#000000; background-repeat: no-repeat; background-size: 100% 100%;
    color: #FFFFFF;>
<div class="container py-4"">
<main>
<div class="container py-4">
<header class="pb-3 mb-4 border-bottom">
<a href="/" class="d-flex align-items-center text-dark text-decoration-none">
  <span class="fs-4"><h3><font face="Arial" color="#91a3b0">M. Johnston</font></h3></span>
  <span style="margin-left:2.5em"><%= link_to 'Projects', projects_path, :class => "text-white"%></span>
  <span style="margin-left:2.5em"><%= link_to "UFOs", "http://www.johnston-m.com/", :class => "text-white"%></span>
  <% if user_signed_in? %> 
  <div align="right"> 
    <%= button_to 'Logout', destroy_user_session_path, method: :delete, class: 'btn btn-outline-light' %>
  </div>  
  <% else %>
     <div align="right">
     <span style="margin-left:2.5em"><%= link_to "Sign up", new_user_registration_path , :class => "text-white"%></span>
     <span style="margin-left:2.5em"><%= link_to "Login", new_user_session_path, :class => "text-white"%></span>
    <% end %>

  </p>
</a>
</header>

<div class="container">

<%= yield %>
</div >

<footer class="pt-3 mt-4 text-muted border-top">
<div align="center"> 
<span style="margin-right:2.5em;"><font face="Arial" color="#91a3b0">&copy; Michael Johnston 2021</font></span>
</div>
</footer>
</div>
</main>


    </body>
</html>



